footer {
    background-color: var(--petora-green); 
    padding-top: 5rem;
}

.footer__wrapper {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 2rem;
    color: var(--petora-beige); 
}

.footer__col1, .footer__col2, .footer__col3, .footer__col4 {
    flex-grow: 1;
    min-width: 150px;
    margin-right: 1rem;
}

.footer__logo .logo-text {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--petora-beige);
}

.footer__desc {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 1rem;
    color: var(--petora-light-gray);
}

.footer__socials {
    margin-top: 1.5rem;
}

.footer__socials__title, .footer__text__title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--petora-orange); /* Highlight titles with orange */
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer__socials__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.socials{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(80%) sepia(10%) saturate(1400%) hue-rotate(345deg) brightness(100%) contrast(90%);   
}

.footer__socials__list a {
    color: var(--petora-beige);
    transition: color 0.2s;
}

.footer__socials__list a:hover {
    color: var(--petora-orange);
}

.footer__text {
    list-style: none;
    padding: 0;
}

.footer__text li {
    margin-bottom: 0.5rem;
}

.footer__text a {
    color: var(--petora-light-gray);
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s;
}

.footer__text a:hover {
    color: var(--petora-beige);
}

#copyright {
    border-top: 2px solid rgba(240, 207, 163, 0.2); 
    padding: 1rem 0;
    text-align: center;
}

.copyright__text {
    font-size: 0.8rem;
    color: var(--petora-beige); 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}